<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Tienda!!!{% endblock %}</title>
        
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ asset('css/jquery.dataTables.min.css')}}">

        
        
        <script src= {{ asset('js/jquery-3.6.0.min.js') }} ></script>
        <script src= {{ asset('js/bootstrap.min.js') }} ></script>
        <script src= {{ asset('js/jquery.dataTables.min.js') }} ></script>
        

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('dashboard') }}">Inicio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ path('categoria_index') }}">Categorias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('producto_index') }}">Productos</a>
        </li>
       
      </ul>
    </div>
  </div>
</nav>

        {% block body %}HOLA MUNDO{% endblock %}
    </body>
</html>
